.App {
  text-align: center;
}

#add-round-button{
  width: ;
}

.result-card-title{
  color: darkslategrey;
}

.result-Win-color{
  color: green;
}

.result-Loss-color{
  color: red;
}

.result-card{
  width: 18rem;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.fixed-width{
  min-width: 260px;
  max-width: 260px;
}

#title{
  padding-left: 0px;
  position: relative;
  left: 0px;
  display: inline;
}

#logo{
  max-width:40px;
  max-height: 40px;
  padding-right: 4px;
  padding-top: 10px;
}

.page-width{
  max-width: 400px;
}

.main-hr { background-color: grey; height: 1px; border: 0; }
.card>hr {
  margin: 0 auto;
  width: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.tournament-submit-button{
  margin-top: 20px;
  width: 305px;
  margin-bottom: 20px;
}

.main-content-width{
  width: 305px;
}

.results{
  padding-top: 20px;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.App-main {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
